.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

android/.gradle/
android/local.properties
android/app/google-services.json
android/app/build/
android/app/release/

*.iml
*.jks
*.keystore
*.lock
